@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/*
font-family: "Nunito Sans", sans-serif;
*/
body {
  font-family: "Nunito Sans", sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 1px solid greenyellow;
  box-sizing: border-box; }

.nav-wraper {
  width: 100%;
  padding: .125rem;
  background-color: black; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline; }

nav div ul {
  display: flex;
  list-style-type: none;
  gap: 30px; }

nav div ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800; }

nav #toggle, nav label {
  display: none; }

.home-main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/fern-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.home-banner {
  width: 100%;
  height: 544px;
  background-image: url("../assets/img/main_banner.png");
  background-size: 100% 544px;
  padding-bottom: 10px; }

.home-banner h1 {
  font-size: 60px;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 150px;
  left: 150px;
  text-shadow: 2px 2px 5px black; }

.home-section {
  width: 100%;
  height: 450px; }

.home-section h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 10px; }

.home-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px; }

.home-categories h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px; }

.home-categories img {
  filter: drop-shadow(2px 2px 2px white); }

.newsletter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 250px; }

.newsletter1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.8;
  width: 50%;
  height: 250px;
  color: white;
  padding: 25px 10px 25px 10px; }

.newsletter-main {
  width: 60%; }

.newsletter-main h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center; }

.newsletter-main p {
  font-size: 20px;
  font-weight: 500;
  text-justify: distribute; }

.newsletter2 {
  background-color: #d9d9d9;
  opacity: 0.8;
  width: 50%;
  height: 250px;
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  width: auto;
  height: auto; }

fieldset {
  border: 0px;
  padding-bottom: 10px; }

legend {
  display: none; }

::placeholder {
  font-size: 14px;
  color: #d9d9d9;
  font-family: "Nunito Sans", sans-serif; }

.registronewsletter {
  width: 200px;
  height: 30px;
  border: 0px;
  background-color: black;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  filter: drop-shadow(3px 3px 3px black); }

.contactohome {
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: row nowrap; }

.rrss {
  background-color: #d9d9d9;
  opacity: 0.8;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.rrss h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center; }

.iconos-rrss {
  text-align: center; }

.customerservice {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.customerservice h4 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center; }

.customerservice ul li {
  font-size: 16px;
  font-weight: 700;
  list-style-type: none;
  text-align: center;
  padding-bottom: 2px; }

.nosotros-main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/fern-background.jpg");
  background-size: cover; }

.nosotros-banner {
  width: 100%;
  height: 544px;
  background-image: url(../assets/img/nosotros_banner.png);
  background-size: 100% 544px; }

.nosotros-banner h1 {
  font-size: 60px;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 272px;
  left: 150px;
  text-shadow: 2px 2px 5px black; }

.section-origin {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%; }

.origin1 {
  width: 50%;
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.origin1 h2 {
  font-size: 60px;
  font-weight: 800;
  color: white; }

.origin2 {
  width: 50%;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.origin2 p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  text-align: justify; }

.section-aroha {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%; }

.aroha2 {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.aroha2 h2 {
  font-size: 60px;
  font-weight: 800;
  color: white; }

.aroha1 {
  width: 50%;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.aroha1 p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  align-items: center; }

.section-brand {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%; }

.brand1 {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.brand1 h2 {
  font-size: 60px;
  font-weight: 800;
  color: white; }

.brand2 {
  width: 50%;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.brand2 p {
  font-size: 25px;
  font-weight: 600;
  color: black;
  align-items: center; }

.tienda-main {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/fern-background.jpg");
  background-size: cover; }

.tienda-banner {
  background-image: url(../assets/img/tienda_banner.png);
  height: 544px;
  width: 100%;
  background-size: 100% 544px; }

.tienda-banner h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 272px;
  left: 150px;
  text-shadow: 2px 2px 5px black; }

.tienda-section {
  width: 100%;
  height: 400px; }

.tienda-section h2 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 10px; }

.home-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px; }

.home-categories h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px; }

.home-categories img {
  filter: drop-shadow(2px 2px 2px white); }

.section-products {
  width: 100%;
  height: 550px;
  border-top: 2.5px solid black;
  padding-bottom: 10px; }

.section-products h2 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 10px; }

.contenedor-products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px; }

.container h3 {
  color: white;
  font-size: 24px;
  font-weight: 800;
  text-align: center; }

.container h5 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center; }

.contenedor-products div img {
  filter: drop-shadow(2px 2px 2px white); }

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.button-tienda {
  width: 125px;
  height: 30px;
  border: 0px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  filter: drop-shadow(3px 3px 3px black); }

.contact-grid {
  display: grid;
  width: 100%;
  height: 1100px;
  background-image: url("../assets/img/fern-background.jpg");
  background-size: cover;
  grid-template-columns: 50% 50%;
  grid-template-rows: 544px 250px 300px;
  grid-template-areas: "contact1 contact1"  "contact2 contact3" "contact4 contact4"; }

.contacto-banner {
  background-image: url(../assets/img/contacto_banner.png);
  background-size: 100% 544px;
  grid-area: contact1; }

.contacto-banner h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 272px;
  left: 150px;
  text-shadow: 2px 2px 5px black; }

.contact1 {
  background-color: black;
  opacity: 0.8;
  grid-area: contact2;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact2 {
  background-color: white;
  opacity: 0.8;
  grid-area: contact3;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact2 div p {
  font-size: 28px;
  font-weight: 500; }

.contact3 {
  background-color: #d9d9d9;
  opacity: 0.8;
  grid-area: contact4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.enviocontacto {
  width: 125px;
  height: 30px;
  border: 0px;
  background-color: black;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  filter: drop-shadow(3px 3px 3px black); }

.contact3 p {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px; }

.faq-background {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/fern-background.jpg");
  background-size: cover; }

.faq-banner {
  width: 100%;
  height: 544px;
  background-image: url(../assets/img/faq_banner.png);
  background-size: 100% 544px; }

.faq-banner h1 {
  font-size: 3.75rem;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 272px;
  left: 150px;
  text-shadow: 2px 2px 5px black; }

.faq-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 750px; }

.faq1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.8;
  width: 35%;
  height: 100%; }

.faq2 {
  background-color: white;
  opacity: 0.8;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 0px 10px 0px 10px; }

.faq2 ul li {
  list-style-type: none; }

.faq2 h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 5px; }

.faq2 p {
  font-size: 16px;
  font-weight: 500;
  padding: 5px; }

@media (max-width: 1024px) {
  .home-main {
    width: 100%;
    height: 100%; }
  .home-banner {
    width: 100%;
    height: 386px;
    background-image: url(../assets/img/main_banner.png);
    background-size: 100% 386px; }
  .home-banner h1 {
    font-size: 45px;
    position: absolute;
    top: 150px;
    left: 150px; }
  .home-section {
    width: 100%;
    height: 350px; }
  .home-section h2 {
    font-size: 28px; }
  .home-categories {
    width: 98%;
    gap: 20px;
    padding-left: 12px; }
  .home-categories h3 {
    font-size: 18px; }
  .home-categories img {
    size: 250px 250px; }
  .newsletter-main h4 {
    font-size: 20px; }
  .newsletter-main p {
    font-size: 16px; }
  .newsletter2 form {
    width: 100px; }
  .registronewsletter {
    width: 180px;
    height: 25px;
    font-size: 14px; }
  .rrss h4 {
    font-size: 22px; }
  .customerservice h4 {
    font-size: 22px; }
  .customerservice ul li {
    font-size: 14px; }
  .tienda-main {
    width: 100%;
    height: 100%; }
  .tienda-banner {
    width: 100%;
    height: 386px;
    background-image: url(../assets/img/tienda_banner.png);
    background-size: 100% 386px; }
  .tienda-banner h1 {
    font-size: 45px;
    position: absolute;
    top: 230px;
    left: 150px; }
  .tienda-section {
    height: 350px; }
  .tienda-section h2 {
    font-size: 28px; }
  .section-products {
    width: 100%;
    height: 515px; }
  .section-products h2 {
    font-size: 28px; }
  .contenedor-products {
    gap: 10px;
    padding-left: 12px;
    width: 98%; }
  .contenedor-products div h3 {
    font-size: 22px; }
  .contenedor-products div h5 {
    font-size: 14px; }
  .contenedor-products div img {
    size: 250px 370px; }
  .faq-banner {
    width: 100%;
    height: 386px;
    background-image: url(../assets/img/faq_banner.png);
    background-size: 100% 386px; }
  .faq-banner h1 {
    font-size: 50px;
    position: absolute;
    top: 193px;
    left: 150px; }
  .faq-main {
    height: 730px; }
  .faq1 {
    height: 100%; }
  .faq2 {
    height: 100%;
    padding: 4px 8px 0px 8px; }
  .faq2 h3 {
    font-size: 18px; }
  .faq2 p {
    font-size: 14px; }
  .contact-grid {
    height: 100%;
    grid-template-rows: 386px 200px 280px; }
  .contacto-banner {
    background-image: url(../assets/img/contacto_banner.png);
    background-size: 100% 386px; }
  .contacto-banner h1 {
    font-size: 50px;
    position: absolute;
    top: 193px;
    left: 150px; }
  .contact2 div p {
    font-size: 20px;
    font-weight: 500; }
  .contact3 p {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px; }
  .nosotros-banner {
    width: 100%;
    height: 386px;
    background-image: url(../assets/img/nosotros_banner.png);
    background-size: 100% 386px; }
  .nosotros-banner h1 {
    font-size: 50px;
    position: absolute;
    top: 193px;
    left: 150px; }
  .origin1 h2 {
    font-size: 45px; }
  .origin2 p {
    font-size: 20px; }
  .aroha2 h2 {
    font-size: 45px; }
  .aroha1 p {
    font-size: 20px; }
  .brand1 h2 {
    font-size: 45px; }
  .brand2 p {
    font-size: 20px; } }

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 8px 0; }
  nav label {
    display: inline-flex;
    cursor: pointer;
    color: white; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  .home-main {
    width: 100%;
    height: 100%; }
  .home-banner {
    width: 100%;
    height: 290px;
    background-image: url(../assets/img/main_banner.png);
    background-size: 100% 290px; }
  .home-banner h1 {
    font-size: 35px;
    top: 130px;
    left: 150px; }
  .home-section {
    width: 100%;
    height: 280px; }
  .home-section h2 {
    font-size: 25px; }
  .home-categories h3 {
    font-size: 15px; }
  .newsletter-main h4 {
    font-size: 18px; }
  .newsletter-main p {
    font-size: 12px; }
  .newsletter2 form {
    width: 100px; }
  .registronewsletter {
    width: 150px;
    height: 25px;
    font-size: 14px; }
  .rrss h4 {
    font-size: 18px; }
  .customerservice h4 {
    font-size: 18px; }
  .customerservice ul li {
    font-size: 12px; }
  .tienda-main {
    width: 100%;
    height: 100%; }
  .tienda-banner {
    width: 100%;
    height: 290px;
    background-image: url(../assets/img/tienda_banner.png);
    background-size: 100% 290px; }
  .tienda-banner h1 {
    font-size: 40px;
    position: absolute;
    top: 180px;
    left: 150px; }
  .tienda-section {
    height: 280px; }
  .tienda-section h2 {
    font-size: 25px; }
  .section-products {
    width: 100%;
    height: 420px; }
  .section-products h2 {
    font-size: 25px; }
  .contenedor-products {
    gap: 10px;
    padding-left: 12px;
    width: 98%; }
  .contenedor-products div h3 {
    font-size: 18px; }
  .contenedor-products div h5 {
    font-size: 12px; }
  .faq-background {
    height: 100%; }
  .faq-banner {
    width: 100%;
    height: 290px;
    background-image: url(../assets/img/faq_banner.png);
    background-size: 100% 290px; }
  .faq-banner h1 {
    font-size: 40px;
    position: absolute;
    top: 180px;
    left: 100px; }
  .faq-main {
    height: 580px; }
  .faq1 {
    height: 100%; }
  .faq2 {
    height: 100%;
    padding: 4px 8px 2px 2px; }
  .faq2 h3 {
    font-size: 15px; }
  .faq2 p {
    font-size: 10px; }
  .contact-grid {
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 290px 200px 200px 300px;
    grid-template-areas: "contact1" "contact2" "contact3" "contact4"; }
  .contacto-banner {
    background-image: url(../assets/img/contacto_banner.png);
    background-size: 100% 290px;
    grid-area: contact1; }
  .contacto-banner h1 {
    font-size: 35px;
    position: absolute;
    top: 180px;
    left: 100px; }
  .contact1 {
    grid-area: contact2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contact2 {
    grid-area: contact3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contact2 div p {
    font-size: 24px;
    font-weight: 500; }
  .contact3 {
    background-color: #d9d9d9;
    grid-area: contact4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .enviocontacto {
    width: 100px;
    height: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600; }
  .contact3 p {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 35px 0px 35px; }
  .nosotros-banner {
    height: 290px;
    background-image: url(../assets/img/nosotros_banner.png);
    background-size: 100% 290px; }
  .nosotros-banner h1 {
    font-size: 35px;
    position: absolute;
    top: 180px;
    left: 100px; }
  .section-origin {
    height: 150px; }
  .section-origin h2 {
    font-size: 35px; }
  .section-origin p {
    font-size: 14px; }
  .section-aroha {
    height: 150px; }
  .section-aroha h2 {
    font-size: 35px; }
  .section-aroha p {
    font-size: 14px; }
  .section-brand {
    height: 150px; }
  .section-brand h2 {
    font-size: 35px; }
  .section-brand p {
    font-size: 14px; } }

@media (max-width: 375px) {
  .home-main {
    width: 100%;
    height: 100%; }
  .home-banner {
    width: 100%;
    height: 120px;
    background-image: url(../assets/img/main_banner.png);
    background-size: 100% 120px; }
  .home-banner h1 {
    font-size: 150px;
    top: 130px;
    left: 5px; }
  .home-section {
    width: 100%;
    height: 280px; }
  .home-section h2 {
    font-size: 25px; }
  .home-categories h3 {
    font-size: 15px; }
  .newsletter-main h4 {
    font-size: 18px; }
  .newsletter-main p {
    font-size: 12px; }
  .newsletter2 form {
    width: 100px; }
  .registronewsletter {
    width: 150px;
    height: 25px;
    font-size: 14px; }
  .rrss h4 {
    font-size: 18px; }
  .customerservice h4 {
    font-size: 18px; }
  .customerservice ul li {
    font-size: 12px; }
  .tienda-main {
    width: 100%;
    height: 100%; }
  .tienda-banner {
    width: 100%;
    height: 290px;
    background-image: url(../assets/img/tienda_banner.png);
    background-size: 100% 290px; }
  .tienda-banner h1 {
    font-size: 40px;
    position: absolute;
    top: 180px;
    left: 150px; }
  .tienda-section {
    height: 280px; }
  .tienda-section h2 {
    font-size: 25px; }
  .section-products {
    width: 100%;
    height: 420px; }
  .section-products h2 {
    font-size: 25px; }
  .contenedor-products {
    gap: 10px;
    padding-left: 12px;
    width: 98%; }
  .contenedor-products div h3 {
    font-size: 18px; }
  .contenedor-products div h5 {
    font-size: 12px; }
  .nav-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    gap: 5px;
    padding-bottom: 5px; }
  main {
    height: 100%; }
  .faq-banner {
    width: 100%;
    height: 150px;
    background-image: url(../assets/img/faq_banner.png);
    background-size: 100% 100%; }
  .faq-banner h1 {
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 50px; }
  .faq-main {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .faq1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column; }
  .faq2 {
    width: 100%;
    height: 100%;
    padding: 4px 4px 4px 4px; }
  .faq2 h3 {
    font-size: 14px; }
  .faq2 p {
    font-size: 10px; }
  .contact-grid {
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 150px 125px 125px 250px;
    grid-template-areas: "contact1" "contact2" "contact3" "contact4"; }
  .contacto-banner {
    background-image: url(../assets/img/contacto_banner.png);
    background-size: 100% 150px;
    grid-area: contact1; }
  .contacto-banner h1 {
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 50px; }
  .contact2 div p {
    font-size: 16px;
    font-weight: 500; }
  .enviocontacto {
    font-size: 12px; }
  .contact3 p {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 35px 10px 35px; }
  .nosotros-banner {
    height: 150px;
    background-image: url(../assets/img/nosotros_banner.png);
    background-size: 100% 150px; }
  .nosotros-banner h1 {
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 50px; }
  .section-origin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px; }
  .origin1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .origin2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-origin h2 {
    font-size: 25px; }
  .section-origin p {
    font-size: 12px; }
  .section-aroha {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px; }
  .aroha2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .aroha1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-aroha h2 {
    font-size: 25px; }
  .section-aroha p {
    font-size: 12px; }
  .section-brand {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px; }
  .brand1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .brand2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-brand h2 {
    font-size: 25px; }
  .section-brand p {
    font-size: 12px; } }

.footeraroha {
  height: 50px;
  background-color: black;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding-top: 15px;
  text-align: center; }
