@media (max-width: 1024px){
    main{
        height: 100%;
    }
    .faq-banner{
        width: 100%;
        height: 386px;
        background-image: url(../assets/img/faq_banner.png);
        background-size: 100% 386px; }
        .faq-banner h1{
            font-size: 50px;
            position: absolute;
            top: 193px;
            left: 150px; }
    .faq-main{
        height: 700px; }
        .faq1{
            height: 100%; }
        .faq2{
            height: 100%;
            padding: 4px 8px 0px 8px; }
            .faq2 h3{
                font-size: 18px; }
            .faq2 p{   
                font-size: 14px; }
    .contact-grid{
        height: 100%;
        grid-template-rows: 386px 200px 250px; }
        .contacto-banner{
            background-image: url(../assets/img/contacto_banner.png);
            background-size: 100% 386px; }
            .contacto-banner h1{
                font-size: 50px;
                position: absolute;
                top: 193px;
                left: 150px; }
                .contact2 div p{
                    font-size: 20px;
                    font-weight: 500; }
                .contact3 p{
                    font-size: 12px;
                    font-weight: 500;
                    padding-top: 10px; } 
    .nosotros-banner{
        width: 100%;
        height: 386px;
        background-image: url(../assets/img/nosotros_banner.png);
        background-size: 100% 386px;}
        .nosotros-banner h1{
            font-size: 50px;
            position: absolute;
            top: 193px;
            left: 150px; }
            .origin1 h2{
                font-size: 45px; }
            .origin2 p{
                font-size: 20px; }
            .aroha2 h2{
                font-size: 45px; }
            .aroha1 p{
                font-size: 20px; }
            .brand1 h2{
                font-size: 45px; }
            .brand2 p{
                font-size: 20px; }
}
