@media (max-width: 375px){
    .home-main{
        width: 100%;
        height: 100%;}
    .home-banner{
        width: 100%;
        height: 120px;
        background-image: url(../assets/img/main_banner.png);
        background-size: 100% 120px; }
        .home-banner h1{
            font-size: 150px;
            top: 130px;
            left: 5px; }
    .home-section{
        width: 100%;
        height: 280px; }
        .home-section h2{
            font-size: 25px;}
        .home-categories h3{
            font-size: 15px;}
    .newsletter-main h4{
        font-size: 18px;}
    .newsletter-main p{
        font-size: 12px;}
    .newsletter2 form{
        width: 100px;}
    .registronewsletter{
        width: 150px;
        height: 25px;
        font-size: 14px;}
    .rrss h4{
        font-size: 18px;}
    .customerservice h4{
        font-size: 18px;}
    .customerservice ul li{
        font-size: 12px;}
.tienda-main{
    width: 100%;
    height: 100%;}
    .tienda-banner{
        width: 100%;
        height: 290px;
        background-image: url(../assets/img/tienda_banner.png);
        background-size: 100% 290px; }
        .tienda-banner h1{
            font-size: 40px;
            position: absolute;
            top: 180px;
            left: 150px; }
    .tienda-section{
        height: 280px;}
        .tienda-section h2{
            font-size: 25px;}
    .section-products{
        width: 100%;
        height: 420px;}
        .section-products h2{
            font-size: 25px;}
        .contenedor-products{
            gap: 10px;
            padding-left: 12px;
            width: 98%;}
            .contenedor-products div h3{
                font-size: 18px;}
            .contenedor-products div h5{
                font-size: 12px;}

    .nav-site{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
        gap: 5px;
        padding-bottom: 5px; }
    main{
        height: 100%; }
    .faq-banner{
        width: 100%;
        height: 150px;
        background-image: url(../assets/img/faq_banner.png);
        background-size: 100% 100%; }
        .faq-banner h1{
            font-size: 20px;
            position: absolute;
            top: 180px;
            left: 50px; }
    .faq-main{
        height: 100%;
        display: flex;
        flex-direction: column; }
        .faq1{
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column; }
        .faq2{
            width: 100%;
            height: 100%;
            padding: 4px 4px 4px 4px; }
            .faq2 h3{
                font-size: 14px; }
            .faq2 p{   
                font-size: 10px; }
    .contact-grid{
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 150px 125px 125px 250px;
        grid-template-areas: 
        "contact1"
        "contact2"
        "contact3"
        "contact4"
        ; }
        .contacto-banner{
            background-image: url(../assets/img/contacto_banner.png);
            background-size: 100% 150px;
            grid-area: contact1; }
            .contacto-banner h1{
                font-size: 20px;
                position: absolute;
                top: 180px;
                left: 50px; }
            .contact2 div p{
                font-size: 16px;
                font-weight: 500; }
            .enviocontacto{
                font-size: 12px; }
            .contact3 p{
                font-size: 12px;
                font-weight: 500;
                padding: 10px 35px 10px 35px; } 
    .nosotros-banner{
        height: 150px;
        background-image: url(../assets/img/nosotros_banner.png);
        background-size: 100% 150px;}
        .nosotros-banner h1{
            font-size: 20px;
            position: absolute;
            top: 180px;
            left: 50px; }
    .section-origin{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;}
        .origin1{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
        .origin2{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .section-origin h2{
                font-size: 25px; }
            .section-origin p{
                font-size: 12px; }
    .section-aroha{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;}
        .aroha2{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
        .aroha1{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
            .section-aroha h2{
                font-size: 25px; }
            .section-aroha p{
                font-size: 12px; }   
    .section-brand{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;}
        .brand1{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
        .brand2{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
        .section-brand h2{
            font-size: 25px; }
        .section-brand p{
            font-size: 12px; }
    }