.home-main{
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/fern-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;}
.home-banner {
    width: 100%;
    height: 544px;
    background-image: url("../assets/img/main_banner.png");
    background-size: 100% 544px;
    padding-bottom: 10px;}
    .home-banner h1 {
        font-size: 60px;
        font-weight: 800;
        color: white;
        position: absolute;
        top: 150px;
        left: 150px;
        text-shadow: 2px 2px 5px black; }
.home-section {
    width: 100%;
    height: 450px;}
    .home-section h2 {
        color: white;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 10px; }
    .home-categories {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px; }
        .home-categories h3 {
            color: white;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding-top: 5px; }
        .home-categories img{
            filter: drop-shadow(2px 2px 2px white); }
.newsletter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 250px;}
    .newsletter1 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: black;
        opacity: 0.8;
        width: 50%;
        height: 250px;
        color: white;
        padding: 25px 10px 25px 10px; }
        .newsletter-main {
            width: 60%; }
            .newsletter-main h4 {
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 5px;
                text-align: center; }
            .newsletter-main p{
                font-size: 20px;
                font-weight: 500;
                text-justify: distribute; }
    .newsletter2 {
        background-color: #d9d9d9;
        opacity: 0.8;
        width: 50%;
        height: 250px;
        padding: 50px 30px 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
        form{
            width: auto;
            height: auto;}
            fieldset{
                border: 0px;
                padding-bottom: 10px; }
                legend{
                    display: none;}
                ::placeholder{
                    font-size: 14px;
                    color: #d9d9d9;
                    font-family: "Nunito Sans", sans-serif; }
        .registronewsletter{
                width: 200px;
                height: 30px;
                border: 0px;
                background-color: black;
                color: white;
                font-family: "Nunito Sans", sans-serif;
                font-size: 16px;
                font-weight: 700; 
                letter-spacing: 2px;
                filter: drop-shadow(3px 3px 3px black); }
    .contactohome {
        width: 100%;
        height: 250px;
        display: flex;
        flex-flow: row nowrap; }
        .rrss {
            background-color: #d9d9d9;
            opacity: 0.8;
            width: 50%;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .rrss h4 {
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 5px;
                text-align: center; }
            .iconos-rrss{
                text-align: center; }
        .customerservice {
            background-color: black;
            opacity: 0.8;
            width: 50%;
            height: 250px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .customerservice h4{
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 10px;
                text-align: center; }
            .customerservice ul li{
                font-size: 16px;
                font-weight: 700;
                list-style-type: none;
                text-align: center;
                padding-bottom: 2px; }